// VARIABLES
$primarycolor: #F2EFE7;
$secondarycolor: #153147;
$backgroundcolor: #EDEAE4;
$textcolor: #121212;
$bordercolor: 1px solid #B9B6AF;
$primaryfont: Montserrat;
$secondaryfont: Cormorant;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

body {
  margin: 0;
  background-color: $backgroundcolor;
}

.box0 {
  height: 40px;
}

.box4,
.box5,
.box6,
.box8,
.box5,
.box10,
.box11 {
  margin-top: 30px;
}

.box2 {
  display: flex;
  height: 70px;
}

.box3 {
  background-color: $primarycolor;
  border-radius: 10px;
}

.vert_center { 
  margin: auto;  
  padding-left: 5px;
}

.box6 {
  background-color: $primarycolor;
}
 
.row_scroll,
.box8 {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.col {
  margin-right: 40px;
}

.foo_logo {
  width: 80px;
  height: 111px;
}

.list-unstyled li a,
a {
  text-decoration: none;
}

h5,
a {
  display: inline-block;
  list-style: none;
  color: $textcolor;
  font-family: $primaryfont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.32px;
}

h5 {
  margin-top: 8px;
  margin-bottom: 25px;
  margin-right: 20px;
  color: $secondarycolor;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.text_search {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.7);
  font-family: $primaryfont;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.group27 {
  height: 100%;
}

h3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px; 

  &:hover {
    background-color: $backgroundcolor;
    color: $secondarycolor;
  }
}

.library {
  height: 330px;
}

/* ************************************ MOBILE ************************************* */

@media only screen and (max-width: 799px) { 

  .text_search,
  .B36_rm_d,
  .b36_title_variant_d {
    display: none;
  }
 
  .box1 {
    border-top: $bordercolor;
    background-color: $primarycolor;
    display: flex;
    height: 50px;
    align-content: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .ic_nav {
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }

  .box2 {
    justify-content: right;
    align-items: center;
    padding-right: 10px;
  }

  .box3 {
    height: 150px;
    display: flex; 
  }
 
  .box5 { 
    margin-bottom: 30px;
  }
  
  .box6 {
    height: 150px; 
    display: flex;
    margin-bottom: 100px; 
  } 

  .box16 { 
    margin-bottom: 100px;
  }

  .logo,
  .box1 .profile {
    display: none;
  }
 
  .box2 {
 
    .profile,
    .lupa {
      height: 30px;
      padding-left: 20px;
    }

    a {
      display: none;
    }
  }

  .col-md-3,
  .col-md-2 {
    display: none;
  }

  .b36_title,
  .b36_title_variant_m {
    color: $textcolor;
    font-size: 24px;
    font-family: $secondaryfont;
    font-weight: 400;
    line-height: 21px;
  }

  .b36_subtitle {
    display: none;
  }

  .b36_rm_m,
  .B36_rm {
    color: $secondarycolor;
    font-size: 16px;
    font-family: $primaryfont;
    font-weight: 500;
    line-height: 21px;
  }

  .ab_img {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
  }

  .b_img {
    width: 120px;
    height: 180px;
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 20px;
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.32px;
  }

  .title {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;  
    letter-spacing: -0.32px;
  }

  .author {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 0px; 
    letter-spacing: -0.32px;
  }

  h3 {
    height: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: $secondarycolor;
    color: $primarycolor;
    font-family: $primaryfont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.38px;
    transition: background-color 0.3s ease;
  }

  .art_img {
    height: 244px;
    width: 230px;
  }

  .library {
    height: 250px; 
    margin-bottom: 30px;
  }
  .box12{
    display: block; 
    margin-left: 0px;
    margin-top: 30px;
  }

  .box9 {
    display: flex;
    height: 260px;
    width: 420px;
    background-color: $primarycolor;
    border: $bordercolor;
    border-radius: 8px;
    margin-left: 10px;
  }

  .book {
    width: 140px;
    height: 210px;
    margin-left: 15px;
    margin-top: 20px;
  }

  .b_info {
    margin-left: 30px;
    margin-top: 20px;
  }

  .b_title {
    color: $secondarycolor;
    font-family: $primaryfont;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.32px;
  }

  .b_author {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.32px;
  }

  .b_pages {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.32px;
  }

  .text_box {
    width: 150px;
  }
}

/* ************************************ DESKTOP ************************************* */

@media only screen and (min-width: 800px) {

  .home {
    height: 1720px; 
  } 
  .generos { 
    height:1070px;   
  }
  .bookshelf {
    height: 960px;  
  }
  .abooks {
    height: 1200px;  
  }
  .articulos {
    height: 1720px; 
  }
   
  .b36_title_variant_m,
  .B36_rm_m {
    display: none;
  }

  .box1 {
    position: sticky;
    display: block;
    width: 80px;
    top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    border-right: $bordercolor;
    border-left: $bordercolor;
  }

  .logo {
    margin-bottom: 30px;
  }

  .ic_nav {
    margin-bottom: 20px;
  }

  .box2 {
    align-items: center;
    position: absolute;
    top: 0px;
    margin-left: 140px;
  }

  .box3 {
    display: flex;
    position: absolute; 
    top: 70px; 
    height: 370px;
    min-width: 700px;
    margin-left: 140px;
  }
  
  .box4 {
    display: block; 
    position: absolute;
    top: 440px;
    margin-left: 140px;
  }

  .box5 {
    display: block; 
    position: absolute;
    top: 750px;
    margin-left: 140px;
  }

  .box6 {
    display: flex;
    position: absolute;
    top: 1150px;
    height: 370px;
    min-width: 700px;
    margin-left: 140px;
  }

  .box7, .box7g, .box7bs, .box7ab, .box7art {  
    display: flex;
    position: absolute;  
    margin-left: 75px;  
    min-width: 700px;
    justify-items: stretch;  
  }  
  .box7 {  
    top: 1570px;
  }
  .box7g { 
    top: 920px; 
  }
  .box7bs{
    top: 810px; 
  }
  .box7ab { 
    top: 1050px;
  }  
  .box7art { 
    top: 1570px;  
  }

  .box8 {
    position: absolute;
    top: 40px;
    margin-left: 140px; 
  }

  .box10 {
    display: block; 
    position: absolute;
    top: 125px;
    margin-left: 140px;
  }
  .box11 {
    display: block; 
    position: absolute; 
    top: 515px;
    margin-left: 140px;
  }
  .box12 {
    display: block; 
    position: absolute;  
    top: 400px; 
    margin-left: 130px;
  }
  .box13a {
    display: block; 
    position: absolute;  
    top: 80px;
    margin-left: 130px;
  }  
  .box13b {
    display: block; 
    position: absolute; 
    top: 580px;
    margin-left: 130px;
  }  
  .box13c {
    display: block; 
    position: absolute; 
    top: 1080px;
    margin-left: 130px;
  }
  .box14 { 
    display: block; 
    position: absolute;
    top: 90px;
    margin-left: 140px;
  }
  .box15 {
    display: block; 
    position: absolute;
    top: 370px; 
    margin-left: 140px;
  }
  .box16 {
    display: block;
    position: absolute;
    top: 715px; 
    margin-left: 140px;
  }

  .box2 { 
    .profile {
      display: none;
    }
  } 

  .lupa {
    height: 18px;
    padding-right: 5px;
  }

  .foo_logo {
    margin-left: 50px;
    margin-top: 12px;
  }

  .foo_title {
    margin-top: 15px;
  }

  .b36_title,
  .b36_title_variant_d {
    color: $textcolor;
    font-size: 28px;
    font-family: $secondaryfont;
    font-weight: 400;
    line-height: 30px; 
  }

  .b36_subtitle {
    color: $textcolor;
    font-size: 14px;
    font-family: $primaryfont;
    font-weight: 300;
    line-height: 21px;
  }

  .b36_rm_d,
  .B36_rm {
    color: $secondarycolor;
    font-size: 18px;
    font-family: $primaryfont;
    font-weight: 500;
    line-height: 21px;
  }

  h2 {
    margin-bottom: 20px;
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.32px;
  }

  .ab_img {
    height: 160px;
    width: 160px;
    margin-bottom: 15px;
    transition: all .2s ease-in-out;
  }

  .b_img {
    width: 160px;
    height: 240px;
    margin-bottom: 15px;
    transition: all .2s ease-in-out;
  }

  .ab_img:hover,
  .b_img:hover {
    transform: scale(1.2);
  }

  .title {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
    letter-spacing: -0.32px;
  }

  .author {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 0px;  
    letter-spacing: -0.32px;
  }

  h3 {
    height: 25px;
    text-align: center;
    border-radius: 4px;
    background-color: $secondarycolor;
    color: $primarycolor;
    font-family: $primaryfont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.38px;
    transition: background-color 0.3s ease;
  }

  .box9 {
    display: flex;
    height: 290px;
    width: 550px;
    position:absolute; 
    top: 70px;
    margin-left: 142px; 
    background-color: $primarycolor;
    border: $bordercolor;
    border-radius: 8px;
  }

  .book {
    width: 168px;
    height: 240px;
    margin-left: 30px;
    margin-top: 25px;
  }

  .b_info {
    margin-left: 60px;
    margin-top: 30px;
  }

  .b_title {
    color: $secondarycolor;
    font-family: $primaryfont;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.32px;
  }

  .b_author {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.32px;
  }

  .b_pages {
    color: $textcolor;
    font-family: $primaryfont;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.32px;
  }

}